<section class="text-center">
 <div class="d-flex text-white bg-primary mb-5 p-3">
    <h1 class="bg-primary flex-grow-1">Categories</h1>
    <%= button_to "LogOut", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
 </div>

    <% unless @groups.empty? %>
    <% @groups.each do |item| %>
    <div class="border p-3 ms-5 me-5 mb-3 d-flex justify-content-between bg-white">
            <p><strong>Icon: </strong><%= item.icon %></p>
            <p><%= link_to item.name, user_group_deals_path(current_user.id, item), class: "fw-lighter text-decoration-none" %></p>
            <p><strong>$</strong><%= item.deals.sum(:amount) %>.00</p>
        </div>
    <% end %>
    <% else %>
        <h2>There are no Categories.</h2>
        <% end %>
    <%= link_to "Add New Category", new_user_group_path(current_user.id), class: "btn btn-success m-3" %>
</section>
