<h1 class="m-3 text-center">New category</h1>

<section class="text-center">
  <%= form_with model: @group, url: user_groups_path, method: :post do |form| %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :icon, style: "display: block" %>
    <%= form.text_field :icon %>
  </div>

  <div>
    <%= form.submit "Save", class: "btn btn-success m-4" %>
    <%= link_to "Back Home", user_groups_path(current_user.id), class: "btn btn-primary" %>
  </div>
<% end %>

</section>
