<h1>New category</h1>

<%= form_with model: [@user, @user.groups.build], method: :post do |form| %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :icon, style: "display: block" %>
    <%= form.text_area :icon %>
  </div>

  <div>
    <%= form.submit "New Category" %>
  </div>
<% end %>
