<h1 class="text-center">All Transactions for <i><%= @group.name %></i></h1>
<p class="m-3 fs-3">Total Transactions: <span class="fw-bold fst-italic"><%= @deals.sum(:amount) %></span></p>

<% @deals.each do |deal| %>
<div class="border m-3 p-3 text-center ">
    <p><strong>Name: </strong><%= deal.name %></p>
    <p><strong>Amount: </strong><%= deal.amount %></p>
</div>
<% end %>

<%= link_to "Go Back", user_groups_path(current_user.id), class: "btn btn-primary" %>
<%= link_to "Add New Transaction", new_user_group_deal_path(current_user.id, @group), class: "btn btn-primary m-3" %>
