<h1 class="text-center">All Transactions for <i><%= @group.name %></i></h1>
<p class="m-3 fs-3">Total Transactions: <span class="fw-bold fst-italic"><%= @deals.sum(:amount) %></span></p>

<% @deals.each do |deal| %>
<div class="border m-3 p-3 text-center ">
    <p><strong>Name: </strong><%= deal.name %></p>
    <p><strong>Amount: </strong><%= deal.amount %></p>
</div>
<% end %>

<div class="d-flex justify-content-between m-3">
    <%= link_to "Go Back", user_groups_path(current_user.id), class: "btn btn-primary p-2" %>
    <%= link_to "Add New Transaction", new_user_group_deal_path(current_user.id, @group), class: "btn btn-success p-2" %>
</div>
