<section class="text-center">
    <div class="d-flex bg-primary text-white align-items-center">
        <%= link_to "Back Home", user_groups_path(current_user.id), class: "btn btn-primary" %>
        <h1 class="mb-3 flex-grow-1">Transactions Details for <i><%= @group.name %></i></h1>
    </div>

    <p class="fs-3">Total Transaction: <span class="fw-bold fst-italic">$<%= @deals.sum(:amount) %></span></p>

    <% @deals.each do |deal| %>
    <div class="border m-3 p-3 d-flex justify-content-between bg-white">
        <p class="fw-lighter fst-italic"><%= deal.name %></p>
        <p><strong>$</strong><%= deal.amount %>.00</p>
    </div>
    <% end %>

    <%= link_to "Add New Transaction", new_user_group_deal_path(current_user.id, @group), class: "btn btn-success p-2" %>
</section>
